.input-wrapper {
  width: 100%;
  input {
  	width: 100%;
    min-height: 32px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding-left: 12px;
    font-size: 14px;
    outline: none;
    background: #eaeaea;
    color: black;
  }
}